<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
  <title>辅助查询</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.2.1/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="css/OM-search.css">
</head>
<body>
<div id="content">
  <div class="type-container">
    <label>功能：</label>
    <el-select v-model="selectType" placeholder="请选择">
      <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
      >
      </el-option>
    </el-select>
  </div>
  <div class="para-container" v-for="(item, index) in parameters">
    <label><%item[1]%>：</label>
    <el-input
            placeholder="请输入内容"
            v-model="item[2]"
            clearable style="width: 50%" :key="item[1]">
    </el-input>
    <br>
  </div>
  <div class="btn-container">
    <el-button type="primary" @click="search()">查询</el-button>
  </div>
  <div class="result-container" v-if="showResult">
    <span>查询结果：</span>
    <template>

    </template>
    <template>

    </template>
  </div>
</div>
<script src="http://dialer.cdn.cootekservice.com/web/internal/activities/js/vue.min.js"></script>
<script src="http://dialer.cdn.cootekservice.com/web/internal/activities/js/axios.min.js"></script>
<script src="https://unpkg.com/element-ui@2.2.1/lib/index.js"></script>
<script>
  axios.defaults.baseURL = 'https://touchlife.cootekservice.com';
  const funcArr = [
    {
      "type": "query_tweet_by_content",
      "type_name": "通过内容查询tweetId",
      "note": "注意事项:<br>最多查找出20个, <br>如果都不是你需要的, 请输入更多的内容, 提高命中率.<br> 注意区分长ID和短ID.",
      "parameters": [
        ["content", "tweet的内容"]
      ]
    },
    {
      "type": "create_url",
      "type_name": "生成短链",
      "parameters": [
        ["long_url", "长链"],
        ["event", "数据点"]
      ]
    }
  ]
  var vue = new Vue({
    el: '#content',
    delimiters: ['<%', '%>'],
    data: {
      //data
      selectType: '',
      options: [],
      showResult: false
    },
    computed: {
      parameters: function () {
        var changePara = [];
        var _this = this;
        funcArr.forEach(function (item, index) {
          if (item['type'] == _this.selectType) {
            item['parameters'].forEach(function (item, index) {
              var tmp = [];
              Vue.set(tmp, 0, item[0]);
              Vue.set(tmp, 1, item[1]);
              Vue.set(tmp, 2, '');
              changePara.push(tmp);
            })
          }
        })
        return changePara;
      }
    },
    created: function created() {
      var _this = this;
      funcArr.forEach(function (item, index) {
        var obj = {};
        obj.value = item.type;
        obj.label = item.type_name;
        _this.options.push(obj);
      })
    },
    mounted: function mounted() {

    },
    methods: {
      search: function () {
        var postParams = {};
        this.parameters.forEach(function (item, index) {
          postParams[item[0]] = item[2];
        })
        console.log(postParams);
        axios.post('/fellow_townsman/ops_lambda', postParams).then(function (res) {
          console.log(res);
        });
//        axios.post('/fellow_townsman/ops_push?_token=8f0e1065-7900-44da-9655-89e7c6b80a3b', postParams).then(function (res) {
//          console.log(res);
//        });
      }
    }
  });
</script>
</body>
</html>