<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Table</title>
  <style>
    .table {
      width: fit-content;
      border-top: 1px solid gray;
      border-left: 1px solid gray;
    }
    .table-tr {
      border-bottom: 1px solid gray;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    .table-td {
      width: 200px;
      height: 100px;
      border-right: 1px solid gray;
    }
  </style>
</head>
<body>
<div id="content">
  <div class="table">
    <div class="table-tr">
      <div class="table-td"></div>
      <div class="table-td"></div>
      <div class="table-td"></div>
      <div class="table-td"></div>
      <div class="table-td"></div>
    </div>
    <div class="table-tr">
      <div class="table-td"></div>
      <div class="table-td"></div>
      <div class="table-td"></div>
      <div class="table-td"></div>
      <div class="table-td"></div>
    </div>
  </div>
</div>
</body>
</html>