<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <script language="JavaScript">
    base = "";
    kindEditorOption = {
      cssPath : base+'/common/plugins/kindEditor/plugins/code/prettify.css',
      uploadJson : base+'/kindEditor/upload',
      fileManagerJson : base+'/kindEditor/fileManager',
      allowFileManager : true,
      height: '500px'
    };
  </script>
  <title>触宝游戏|家长监护</title>

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!-- CSS Global Compulsory-->
  <link rel="stylesheet" href="../common/plugins/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../home/assets/css/style.css" />
  <link rel="stylesheet" href="../home/assets/css/headers/header2.css" />
  <link rel="stylesheet" href="../home/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="../home/assets/css/style_responsive.css" />
  <link rel="shortcut icon" href="../favicon.ico" />
  <!-- CSS Implementing Plugins -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../home/assets/plugins/flexslider/flexslider.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="../home/assets/plugins/bxslider/jquery.bxslider.css" />
  <link rel="stylesheet" href="../home/assets/plugins/revolution_slider/css/rs-style.css" media="screen" />
  <link rel="stylesheet" href="../home/assets/plugins/revolution_slider/rs-plugin/css/settings.css" media="screen" />

  <!-- CSS Theme -->
  <link rel="stylesheet" href="../home/assets/css/themes/default.css" id="style_color" />

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<div id="content">
  <!--/header -->
  <div class="header">
    <div class="container">
      <!-- Logo -->
      <div class="logo" style="padding:10px;">
        <a href="./index.html"><img id="logo-header" src="../home/assets/img/logo.png" style="height: 40px" alt="Logo" /></a>
      </div><!-- /logo -->

      <!-- Menu -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav top2">
            <li id="home">
              <a href="../index.html">主页
              </a>
            </li>
            <li id="about">
              <a href="../about.html">公司简介
              </a>
            </li>
            <li id="game">
              <a href="../game.html">游戏
              </a>
            </li>
            <li id="payment">
              <a href="../payment.html">
                充值
              </a>
            </li>
            <li id="familySafety">
              <a href="./familySafety/index.html" class="dropdown-toggle" data-toggle="dropdown">家长监护
                <b class="caret" style="padding-bottom: 0"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="./about.html">简介</a></li>
                <li><a href="./process.html">申请流程</a></li>
                <li><a href="./FAQs.html">常见问题</a></li>
                <li><a href="./contactUs.html">联系我们</a></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li id="contactUs">
              <a href="./contactUs.html">联系我们</a>
            </li>
            <li>
              <a href="./register.html">会员注册
              </a>
            </li>
          </ul>
        </div><!-- /nav-collapse -->
      </nav><!-- /navbar -->

    </div><!-- /container -->
  </div>
  <!--=== End Header ===-->

  <!--=== Breadcrumbs ===-->
  <div class="row breadcrumbs margin-bottom-40">
    <div class="container">
      <h1 class="pull-left">家长监护</h1>
      <ul class="pull-right breadcrumb">
        <li><a href="./about.html">简介</a>  </li>
        <li><a href="./process.html">申请流程</a> </li>
        <li><a href="./FAQs.html">常见问题</a> </li>
        <li><a href="./contactUs.html">联系我们</a> </li>
      </ul>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!--=== End Breadcrumbs ===-->

  <div class="container">
    <div class="row margin-bottom-30">
      <h3> 家长监护工程介绍 </h3>
      <p> "网络游戏未成年人家长监护工程" 由中华人民共和国文化部指导，当家长发现自己的孩子玩游戏过于沉迷的时候，由家长提供合法的监护人资质证明、游戏名称账号、以及家长对于限制强度的愿望等信息，可对处于孩子游戏沉迷状态的账号采取几种限制措施，解决未成年人沉迷网游的不良现象，如限制孩子每天玩游戏的时间区间和长度，也可以限制只有周末才可以游戏，或者完全禁止。 </p>
      <p> 该项社会公益行动充分反映了中国网络游戏行业高度的社会责任感，对未成年玩家合法权益的关注以及对用实际行动营造和谐社会的愿望。 </p>
      <h3> 申请条件 </h3>
      <p> 1、申请人需为被监护未成年人的法定监护人； </p>
      <p> 2、申请人的被监护人年龄小于18周岁； </p>
      <p> 3、申请人需为大陆公民，不含港、澳、台人士。 </p>
      <h3> 提交资料 </h3>
      <p> 1、监护人信息表（包含监护人的身份证明复印件）； </p>
      <p> 2、被监护人信息表（包含被监护人所玩游戏相关信息及身份证明复印件）； </p>
      <p> 3、填写未成年人家长监护申请书、起诉保证书、授权书并手工签字（需下载，填写并打印，签字，下载文档请联系客服）； </p>
      <p> 4、申请人与被监护人的监护关系证明文件（户口簿或有关机关出具的证明文件）。 </p>
      <p> <img src="../upload/images/20160224/1.jpg" alt=""> </p>
      <p> <br> </p>
      <p> </p>
      <div>
        <span><span><strong> <h3> <strong>家长监护服务进度查询</strong> </h3> </strong></span></span>
      </div>
      <div>
        <span><span>如果您已经申请家长监护服务，您可以通过我们的客服进行查询，了解您所提交的服务申请最新处理进展，如：传真是否收到，是否需要后续提交信息，账号是否已经进行处理等。服务期间，如果您对需要提交的信息或者处理结果有疑问，或者其他任何问题，您均可以随时联系我们，我们将由专门负责的客服主管为您提供咨询解答服务，或者配合、指导您解决问题。</span></span>
      </div>
      <p></p>
    </div>
  </div>
  <!--=== Footer ===-->
  <div class="container" style="margin-top: 10px">
    <div class="row margin-bottom-10">
      <div class="col-md8">
        <a href="../register.html" style="margin-right: 20px;font-size: medium"><img class="resize_small" src="../home/assets/img/others/cm.png">&nbsp;&nbsp;防沉迷 </a>
        <a href="./about.html" style="font-size: large;"><img class="resize_small" src="../home/assets/img/others/jh.png">&nbsp;&nbsp;家长监护 </a>
      </div>
    </div>
    <p class="row">
      <div class="col-md12 bg-light" style="margin-bottom: 0">
    <p align="center" style="margin-bottom: 0">健康游戏公告: 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
    <p align="center" style="margin-bottom: 0">文化部网络游戏举报和联系电子邮箱Life-bd@cootek.cn 纠纷处理方式：联系客服</p>
    <p align="center" style="margin-bottom: 0;height:80px">
      <a target="_blank" href="http://sq.ccm.gov.cn/ccnt/sczr/login" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="../home/assets/img/hulianwang.jpeg" style="height:80px">互联网文化经营单位
      </a>
    </p>
  </div>
  </p>
</div>
<!--=== End Footer ===-->

<!--=== Copyright ===-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md8">
        <p align="center">上海触宝信息技术有限公司 版权所有 &copy;2016 <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备12012934号-2</a>
          <a href="../license.html">沪网文[2016]0089-089</a></p>
      </div>
      <div style="width:300px;margin:0 auto; padding:20px 0;"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402000740" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <img src="../home/assets/img/beiantu.png" style="float:left"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备
        31010402000740号</p></a></div>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/copyright-->

</div>
<!-- JS Global Compulsory -->
<script type="text/javascript" src="../common/plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../home/assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="../common/plugins/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="../home/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="../home/assets/plugins/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="../home/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="../home/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="../home/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="../home/assets/js/app.js"></script>
<script type="text/javascript" src="../home/assets/js/pages/index.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    App.init();
//        App.initSliders();
    App.initBxSlider1();
    Index.initRevolutionSlider();
    Index.setNavActive();
  });
</script>
<!--[if lt IE 9]>
<script src="/common/js/html5shiv.js"></script>
<script src="/common/js/respond.min.js"></script>
<![endif]-->
<script>
  var url = window.location;
  var element = $('ul.breadcrumb li a').filter(function() {
    return this.href == url || url.href.indexOf(this.href) == 0;
  }).css('color','#72c02c');
</script>
</body>
</html>
