<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <script language="JavaScript">
    base = "";
    kindEditorOption = {
      cssPath : base+'/common/plugins/kindEditor/plugins/code/prettify.css',
      uploadJson : base+'/kindEditor/upload',
      fileManagerJson : base+'/kindEditor/fileManager',
      allowFileManager : true,
      height: '500px'
    };
  </script>    <title>触宝游戏|联系我们</title>

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!-- CSS Global Compulsory-->
  <link rel="stylesheet" href="./common/plugins/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./home/assets/css/style.css" />
  <link rel="stylesheet" href="./home/assets/css/headers/header2.css" />
  <link rel="stylesheet" href="./home/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="./home/assets/css/style_responsive.css" />
  <link rel="shortcut icon" href="./favicon.ico" />
  <!-- CSS Implementing Plugins -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./home/assets/plugins/flexslider/flexslider.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="./home/assets/plugins/bxslider/jquery.bxslider.css" />
  <link rel="stylesheet" href="./home/assets/plugins/revolution_slider/css/rs-style.css" media="screen" />
  <link rel="stylesheet" href="./home/assets/plugins/revolution_slider/rs-plugin/css/settings.css" media="screen" />

  <!-- CSS Theme -->
  <link rel="stylesheet" href="./home/assets/css/themes/default.css" id="style_color" />

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<div id="content">
  <!--=== Header ===-->
  <div class="header">
    <div class="container">
      <!-- Logo -->
      <div class="logo" style="padding:10px;">
        <a href="./index.html"><img id="logo-header" src="./home/assets/img/logo.png" style="height: 40px" alt="Logo" /></a>
      </div><!-- /logo -->

      <!-- Menu -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav top2">
            <li id="home">
              <a href="./index.html">主页
              </a>
            </li>
            <li id="about">
              <a href="./about.html">公司简介
              </a>
            </li>
            <li id="game">
              <a href="./game.html">游戏
              </a>
            </li>
            <li id="payment">
              <a href="./payment.html">
                充值
              </a>
            </li>
            <li id="familySafety">
              <a href="./familySafety/index.html" class="dropdown-toggle" data-toggle="dropdown">家长监护
                <b class="caret" style="padding-bottom: 0"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="./familySafety/about.html">简介</a></li>
                <li><a href="./familySafety/process.html">申请流程</a></li>
                <li><a href="./familySafety/FAQs.html">常见问题</a></li>
                <li><a href="./familySafety/contactUs.html">联系我们</a></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li id="contactUs">
              <a href="./contactUs.html">联系我们</a>
            </li>
            <li>
              <a href="./register.html">会员注册
              </a>
            </li>
          </ul>
        </div><!-- /nav-collapse -->
      </nav><!-- /navbar -->

    </div><!-- /container -->
  </div><!--/header -->
  <!--=== End Header ===-->

  <!--=== Breadcrumbs ===-->
  <div class="row breadcrumbs margin-bottom-40">
    <div class="container">
      <h1 class="pull-left">联系我们</h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!--=== Content Part ===-->
  <div class="container">
    <div class="row margin-bottom-30">
      <div class="col-md-12">
        <span> <h1> 如果您希望与触宝洽谈合作，欢迎和我们联系。 </h1> <p> • 品牌广告合作：ad@cootek.cn<br> • 应用商店、友情链接方面的合作：online@cootek.cn或186-1409-1960<br> • 厂商内置或其他形式的合作：preload@cootek.cn<br> • 触宝电话生活黄页合作：Life-bd@cootek.cn或136-8179-6079<br> • 媒体公关合作：media@cootek.cn或186-0102-5852 </p> <p> 其他市场推广相关问题请拨：021-64851176 (该电话不做转接和任何产品相关客服与技术支持) </p> </span>
      </div>
    </div><!--/row-->
  </div>
  <!--=== Footer ===-->
  <div class="container" style="margin-top: 10px">
    <div class="row margin-bottom-10">
      <div class="col-md8">
        <a href="./register.html" style="margin-right: 20px;font-size: medium"><img class="resize_small" src="./home/assets/img/others/cm.png">&nbsp;&nbsp;防沉迷 </a>
        <a href="./familySafety/about.html" style="font-size: large;"><img class="resize_small" src="./home/assets/img/others/jh.png">&nbsp;&nbsp;家长监护 </a>
      </div>
    </div>
    <p class="row">
      <div class="col-md12 bg-light" style="margin-bottom: 0">
    <p align="center" style="margin-bottom: 0">健康游戏公告: 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
    <p align="center" style="margin-bottom: 0">文化部网络游戏举报和联系电子邮箱Life-bd@cootek.cn 纠纷处理方式：联系客服</p>
    <p align="center" style="margin-bottom: 0;height:80px"><a target="_blank" href="http://sq.ccm.gov.cn/ccnt/sczr/login" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
      <img src="./home/assets/img/hulianwang.jpeg" style="height:80px">互联网文化经营单位</a></div>
    </p>
  </div>
  <!--=== End Footer ===-->

  <!--=== Copyright ===-->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md8">
          <p align="center">上海触宝信息技术有限公司 版权所有 &copy;2016 <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备12012934号-2</a>
            <a href="./license.html">沪网文[2016]0089-089</a></p>
        </div>
        <div style="width:300px;margin:0 auto; padding:20px 0;"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402000740" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          <img src="./home/assets/img/beiantu.png" style="float:left"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备
          31010402000740号</p></a></div>
      </div>
    </div>
  </div>
  <!--=== End Copyright ===-->
</div>
<!-- JS Global Compulsory -->
<script type="text/javascript" src="./common/plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./home/assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="./common/plugins/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="./home/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="./home/assets/plugins/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="./home/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="./home/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="./home/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="./home/assets/js/app.js"></script>
<script type="text/javascript" src="./home/assets/js/pages/index.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    App.init();
//        App.initSliders();
    App.initBxSlider1();
    Index.initRevolutionSlider();
    Index.setNavActive();
  });
</script>
<!--[if lt IE 9]>
<script src="/common/js/html5shiv.js"></script>
<script src="/common/js/respond.min.js"></script>
<![endif]-->
</body>
</html>
