<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <script language="JavaScript">
    base = "";
    kindEditorOption = {
      cssPath : base+'/common/plugins/kindEditor/plugins/code/prettify.css',
      uploadJson : base+'/kindEditor/upload',
      fileManagerJson : base+'/kindEditor/fileManager',
      allowFileManager : true,
      height: '500px'
    };
  </script>
  <title>触宝游戏</title>

  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <!-- CSS Global Compulsory-->
  <link rel="stylesheet" href="./common/plugins/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./home/assets/css/style.css" />
  <link rel="stylesheet" href="./home/assets/css/headers/header2.css" />
  <link rel="stylesheet" href="./home/assets/plugins/bootstrap/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="./home/assets/css/style_responsive.css" />
  <link rel="shortcut icon" href="./favicon.ico" />
  <!-- CSS Implementing Plugins -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./home/assets/plugins/flexslider/flexslider.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="./home/assets/plugins/bxslider/jquery.bxslider.css" />
  <link rel="stylesheet" href="./home/assets/plugins/revolution_slider/css/rs-style.css" media="screen" />
  <link rel="stylesheet" href="./home/assets/plugins/revolution_slider/rs-plugin/css/settings.css" media="screen" />

  <!-- CSS Theme -->
  <link rel="stylesheet" href="./home/assets/css/themes/default.css" id="style_color" />

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>
<div id="content">
  <!--=== Header ===-->
  <div class="header">
    <div class="container">
      <!-- Logo -->
      <div class="logo" style="padding:10px;">
        <a href="/"><img id="logo-header" src="./home/assets/img/logo.png" style="height: 40px" alt="Logo" /></a>
      </div><!-- /logo -->

      <!-- Menu -->
      <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav top2">
            <li id="home">
              <a href="/index.html">主页
              </a>
            </li>
            <li id="about">
              <a href="/about">公司简介
              </a>
            </li>
            <li id="game">
              <a href="/game">游戏
              </a>
            </li>
            <li id="payment">
              <a href="/payment">
                充值
              </a>
            </li>
            <li id="familySafety">
              <a href="/familySafety" class="dropdown-toggle" data-toggle="dropdown">家长监护
                <b class="caret" style="padding-bottom: 0"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/familySafety/about">简介</a></li>
                <li><a href="/familySafety/process">申请流程</a></li>
                <li><a href="/familySafety/FAQs">常见问题</a></li>
                <li><a href="/familySafety/contactUs">联系我们</a></li>
              </ul>
              <b class="caret-out"></b>
            </li>
            <li id="contactUs">
              <a href="/contactUs">联系我们</a>
            </li>
            <li>
              <a href="/register">会员注册
              </a>
            </li>
          </ul>
        </div><!-- /nav-collapse -->
      </nav><!-- /navbar -->

    </div><!-- /container -->
  </div><!--/header -->
  <!--=== End Header ===-->

  <!--=== Slider ===-->
  <div class="flexslider">
    <ul class="slides">
      <li>
        <a :href="baseNetService + '/11.html'">
          <img src="./upload/images/20160202/20160202182743_413353354.jpg"  />
        </a>
      </li>
      <li>
        <a :href="baseNetService + '/12.html'">
          <img src="./upload/images/20160202/20160202181440_-974672185.jpg"  />
        </a>
      </li>
    </ul>

  </div>
  <!--=== End Slider ===-->

  <!--=== Content Part ===-->
  <div class="container" style="margin-top: 30px">
    <!-- Service Blocks -->
    <div class="row-fluid servive-block">
      <div class="span4">
        <h4>关于触宝</h4>

        <p>
          <i class="fa fa-bullhorn"></i>
        </p>

        <p>
          触宝是一家创新型移动互联网公司。触宝坚持技术创新和知识产权保护，曾赢得首例针对中国软件产品的337调查案，目前共拥有160多项国内外专利授权及申请。2009年，触宝在MWC（世界移动通信大会）展会上荣获“全球移动创新大奖”，2014年被美国《快公司》(Fast Company)杂志评为中国地区“最具创新力十大公司（Most Innovative Companies 2014）”。触宝旗下拥有两款产品，触宝电话和触宝输入法。其中触宝电话拥有6亿用户；而触宝输入法支持127种语言，覆盖243个国家与地区，全球用户超过7亿。
        </p>
      </div>
      <div class="span4">
        <h4>商务合作</h4>

        <p><i class="fa fa-lightbulb-o"></i></p>

        <p>我们有着优秀的商务团队，丰富的运营经验，触乐游戏欢迎与您合作。</p>
      </div>
      <div class="span4">
        <h4>联系我们</h4>

        <p><i class="fa fa-envelope"></i></p>

        <p>邮箱：Life-bd@cootek.cn</br>
          联系电话：13681796079</br>
          公司地址：上海市徐汇区虹梅路2007号7号楼2、3层</p>
      </div>
    </div>
    <!--/row-fluid-->
    <!-- //End Service Blokcs -->

    <!-- quality games -->
    <div class="headline"><h3>精品游戏 &nbsp;&nbsp;&nbsp;&nbsp;<span
            style="font-size: 50%;color:#72c02c "> 本网站所有游戏适合18岁以上用户</span></h3></div>
    <div class="row margin-bottom-40">
      <ul id="list" class="bxslider recent-work">
        <li>
          <a href="/game/11">
            <em class="overflow-hidden"><img src="./upload/images/20160202/20160202182743_413353354.jpg" alt="传奇世界" class="img-responsive"/></em>
            <span>
            <strong>传奇世界</strong>
            <i></i>
          </span>
          </a>
        </li>
        <li>
          <a href="/game/12">
            <em class="overflow-hidden"><img src="./upload/images/20160202/20160202181440_-974672185.jpg" alt="西游神传" class="img-responsive"/></em>
            <span>
            <strong>西游神传</strong>
            <i>
            </i>
          </span>
          </a>
        </li>
      </ul>
    </div>
    <!--/row-->
    <!-- //End quality games-->
  </div><!--/container-->
  <!-- End Content Part -->

  <!--=== Footer ===-->
  <div class="container" style="margin-top: 10px">
    <div class="row margin-bottom-10">
      <div class="col-md8">
        <a href="/register" style="margin-right: 20px;font-size: medium"><img class="resize_small" src="./home/assets/img/others/cm.png">&nbsp;&nbsp;防沉迷 </a>
        <a href="/familySafety" style="font-size: large;"><img class="resize_small" src="./home/assets/img/others/jh.png">&nbsp;&nbsp;家长监护 </a>
      </div>
    </div>
    <p class="row">
      <div class="col-md12 bg-light" style="margin-bottom: 0">
    <p align="center" style="margin-bottom: 0">健康游戏公告: 抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
    <p align="center" style="margin-bottom: 0">文化部网络游戏举报和联系电子邮箱Life-bd@cootek.cn 纠纷处理方式：联系客服</p>
    <p align="center" style="margin-bottom: 0;height:80px"><a target="_blank" href="http://sq.ccm.gov.cn/ccnt/sczr/login" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
      <img src="./home/assets/img/hulianwang.jpeg" style="height:80px">互联网文化经营单位</a></div>
  </p>
  </div>
  </div><!--/container-->
  <!--=== End Footer ===-->

  <!--=== Copyright ===-->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md8">
          <p align="center">上海触宝信息技术有限公司 版权所有 &copy;2016 <a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备12012934号-2</a>
            <a href="/license">沪网文[2016]0089-089</a></p>
        </div>
        <div style="width:300px;margin:0 auto; padding:20px 0;"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402000740" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          <img src="./home/assets/img/beiantu.png" style="float:left"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">沪公网安备
          31010402000740号</p></a></div>
      </div><!--/row-->
    </div><!--/container-->
  </div><!--/copyright-->
  <!--=== End Copyright ===-->
</div>


<!-- JS Global Compulsory -->
<script src="http://dialer.cdn.cootekservice.com/web/internal/activities/js/vue.min.js"></script>
<script type="text/javascript" src="./common/plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="./home/assets/js/modernizr.custom.js"></script>
<script type="text/javascript" src="./common/plugins/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="./home/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="./home/assets/plugins/bxslider/jquery.bxslider.js"></script>
<script type="text/javascript" src="./home/assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="./home/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="./home/assets/plugins/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="./home/assets/js/app.js"></script>
<script type="text/javascript" src="./home/assets/js/pages/index.js"></script>
<script type="text/javascript" src="./base/net.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    App.init();
//        App.initSliders();
    App.initBxSlider1();
    Index.initRevolutionSlider();
    Index.setNavActive();
  });
</script>

<script>
  $(function () {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>

</body>
</html>
