<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
  <title>parcel打包项目</title>
</head>
<body>
<div id="content">
  <div class="a">Parcel</div>
  <p></p>
</div>
<script src="http://dialer.cdn.cootekservice.com/web/internal/activities/js/vue.min.js"></script>
<script src="http://dialer.cdn.cootekservice.com/web/internal/activities/js/myLib.js?v=1"></script>
<script src="./js/index.js"></script>
</body>
</html>