<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
  <title>上传白名单</title>
  <link rel="stylesheet" type="text/css" href="css/upload-white-list.css"/>
  <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<div id="content">
  <!--上传页面-->
  <div id="upload-page" v-if="!selectListIndex">
    <div class="upload-container">
      <div class="upload-content">
        <input type="file" name="file" id="file"/>
        <textarea placeholder="请填写备注" name="note" v-model="note"></textarea>
        <button class="btn btn-primary" @click="uploadWhiteList">提交</button>
        <button class="btn btn-primary go-to-operation-list" @click="goToOperationList">操作记录列表</button>
      </div>
    </div>
    <div class="list-container">
      <div class="table-title">
        白名单列表
      </div>
      <table class="table">
        <thead>
        <tr>
          <th class="text-center" style="width: 10%">gid</th>
          <th class="text-center" style="width: 10%">操作人</th>
          <th class="text-center" style="width: 20%">创建时间</th>
          <th class="text-center" style="width: 20%">上次操作时间</th>
          <th class="text-center" style="width: 10%">白名单人数</th>
          <th class="text-center" style="width: 15%">备注</th>
          <th class="text-center" style="width: 15%">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in whiteListGroup" class="success">
          <td class="text-center">{{item.gid}}</td>
          <td class="text-center">{{item.last_operator}}</td>
          <td class="text-center">{{item.create_time}}</td>
          <td class="text-center">{{item.last_operatored_time}}</td>
          <td class="text-center">{{item.count}}</td>
          <td class="text-center">{{item.note}}</td>
          <td class="text-center">
            <template v-if="!item.gid_status">
              <button class="btn btn-primary" @click="openMask(item.gid)">追加</button>
              <!--<button class="btn btn-danger" @click="changeGidInfo(1, item.gid)">失效</button>-->
            </template>
            <template v-else>
              <!--<button class="btn btn-default" @click="changeGidInfo(2, item.gid)">还原</button>-->
            </template>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="bottom-loading" v-show="state.showBottomLoading">
        <img src="img/loading.gif" id="loading-gif" v-if="!state.listFinish">
        <div class="no-more-text" id="no-more-text" v-else>已经到底啦~</div>
      </div>
    </div>
    <div class="mask" v-if="state.showMask">
      <div class="mask-content">
        <div class="title">请输入追加的电话号码</div>
        <textarea v-model="phoneStr" placeholder="电话号码以#分隔 如13163297238#13163296213"></textarea>
        <div class="btn-groups">
          <button class="btn btn-default" @click="closeMask">取消</button>
          <button class="btn btn-primary" @click="changeGidInfo(3, 0)">确定</button>
        </div>
      </div>
    </div>
  </div>
  <!--操作结果查询页面-->
  <div id="operation-list-page" v-else>
    <div class="select-container">
      <div class="select-content">
        <div class="select-query-type">
          <input type="radio" name="query-type" value="0" checked @change="changeQueryType(0)"> 根据gid查询
          <input type="radio" name="query-type" value="1" @change="changeQueryType(1)"> 根据时间区间查询
        </div>
        <div class="query-content">
          <div class="query-content-gid" v-if="state.showQueryGid">
            <input id="query-content-input-gid" class="query-content-input-gid" type="text" placeholder="请输入gid" v-model="queryGid">
            <button class="btn btn-primary" @click="queryOperationList(1)">查询</button>
          </div>
          <div class="query-content-date" v-else>
            <span>开始时间：</span><input type="date" v-model="startTime">
            结束时间：<input type="date" v-model="endTime">
            <br>
            <button class="btn btn-primary" @click="queryOperationList(2)">查询</button>
          </div>
        </div>
        <button class="btn btn-primary back-to-white-list" @click="backToWhiteList">返回</button>
      </div>
    </div>
    <div class="query-result">
      <div class="table-title">
        操作记录列表
      </div>
      <table class="table">
        <thead>
        <tr>
          <th class="text-center" style="width: 10%">gid</th>
          <th class="text-center" style="width: 30%">操作人</th>
          <th class="text-center" style="width: 30%">操作时间</th>
          <th class="text-center" style="width: 30%">操作状态</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in operationQuery" class="success">
          <td class="text-center">{{item.gid}}</td>
          <td class="text-center">{{item.operator}}</td>
          <td class="text-center">{{item.operated_time}}</td>
          <td class="text-center">{{item.operation}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="./js/jquery-3.2.1.min.js"></script>
<script src="http://dialer.cdn.cootekservice.com/web/internal/activities/js/vue.min.js"></script>
<script src="js/upload-white-list.js"></script>
</body>
</html>