<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
  <title>测试滑动</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
    img {
      width: 100%;
      display: block;
    }
  </style>
</head>
<body>
<div id="content">
  <img src="img/test_scroll/1.png">
  <img src="img/test_scroll/2.png">
  <img src="img/test_scroll/3.png">
  <img src="img/test_scroll/4.png">
  <img src="img/test_scroll/5.jpeg">
  <img src="img/test_scroll/6.png">
</div>
<script src="http://cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>
<script>
  <!--禁止掉touchend事件-->
  document.addEventListener('touchend', function(event) {
//    event.preventDefault();
    console.log('1');
  }, false);
</script>
</body>
</html>