<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title></title>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?8203b93a73fd9e8ffc85bdaa08f566ba";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    // 适配问题解决方法2
    function adaptation () {
      var clientWidth = window.screen.width;
      var dpr = window.devicePixelRatio;
      var vp = document.createElement('meta');
      document.documentElement.style.fontSize = clientWidth > 414 ? '20px' : 20 * dpr * clientWidth / 360 + 'px';
      vp.name = 'viewport';
      vp.content = `initial-scale=${1.0 * 1 / dpr}, maximum-scale=${1.0 * 1 / dpr}, minimum-scale=${1.0 * 1 / dpr}, user-scalable=no, width=device-width`;
      var m = document.getElementsByTagName('meta')[0];
      m.parentNode.insertBefore(vp, m);
    }
    adaptation();
  </script>
  <style>
    i {
      font-family: '微软雅黑';
      font-weight: bold;
      font-size: 1rem;
    }
  </style>
</head>
<body>
<div id="content">
  <img src="img/head-img.png">
  <div style="margin-top: -5rem">
    <i>哈哈哈哈哈我是头图文案</i>
  </div>
</div>
<script src="http://yangyangchange/web/internal/activities/js/vue.min.js"></script>
<script src="http://yangyangchange/web/internal/activities/js/myLib.js?v=1"></script>
<script src="http://yangyangchange/web/internal/activities/js/dialer_native.js"></script>
<script src="http://cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>
<script>
  var vue = new Vue({
    el: '#content',
    delimiters: ['<%', '%>'],
    data: {
      //data
      token: '',
      content: 'hhaha'
    },
    created: function created() {
    },
    mounted: function mounted() {
    },
    methods: {
    }
  });
</script>
</body>
</html>