<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/index.css"/>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?8203b93a73fd9e8ffc85bdaa08f566ba";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <style>
    .wrapper {
      width: 200px;
      height: 200px;
      border: 1px solid red;
      overflow: hidden;
      margin: 100px auto;
    }
    .content{
    }
    li {
      width: 100%;
      height: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
<div id="content">
  <div class="wrapper" ref="wrapper">
    <ul class="content">
      <li>11</li>
      <li>12</li>
      <li>13</li>
      <li>14</li>
      <li>15</li>
      <li>16</li>
      <li>17</li>
      <li>18</li>
      <li>19</li>
      <li>20</li>
      <li>21</li>
      <li>22</li>
      <li>23</li>
      <li>24</li>
      <li>25</li>
      <li>26</li>
      <li>27</li>
    </ul>
  </div>
</div>
<script src="http://dialer.cdn.cootekservice.com/web/internal/activities/js/vue.min.js"></script>
<script src="http://dialer.cdn.cootekservice.com/web/internal/activities/js/myLib.js?v=1"></script>
<script src="http://dialer.cdn.cootekservice.com/web/internal/activities/js/dialer_native.js"></script>
<script src="https://unpkg.com/better-scroll@1.0.1/dist/bscroll.min.js"></script>
<script src="js/index.js"></script>
</body>
</html>